*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: white;
}
html,body{
	height: 100%;
	width: 100%;
	background: black;
}
header{
	height: 10%;
	width: 90%;
	border-bottom: 1px solid white;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	position: sticky;
	top: 0px;
	z-index: 9;
}
header .logo h4{
	font-size: 20px;
	font-weight: 500;
}
header nav{
	display: flex;
	gap: 50px;
}
header nav h4{
	font-size: 15px;
	font-weight: 500;
}
header .sing-up h4{
	font-size: 20px;
	font-weight: 500;
}
header .sing-up h4 i{
	font-size: 15px;
	padding: 8px;
	border: 1px solid white;
	border-radius: 50%;
}
.page-1{
	height: 90%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.page-1 .right,.left{
	margin: 0px 50px;
}
.page-1 .right h1{
	font-size: 70px;
	font-weight: 500;
	text-transform: uppercase;
}
.page-1 .right h1 span img{
	height: 60px;
	width: 60px;
	object-fit: cover;
	border-radius: 50%;
	border: 4px solid white;
	margin-left: -20px;
}
.page-1 .right h1 span .margin{
	margin-left: 0px;
}
.page-1 .right .two{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid rgba(255, 255, 255, 0.7);
}
.page-1 .right .two h4{
	margin-top: 20px;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
}
.page-1 .left img{
	border-radius: 30px;
	opacity: 0.6;
}
.scroll h3{
	font-size: 40px;
	text-align: center;
	transform: translateY(-100px);
}
.page-2{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
}
.page-2 .box{
	height: 300px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 2px solid white;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
}
.page-2 .box h3{
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
}
.page-2 .box p{
	font-size: 13px;
	font-weight: 500;
}
@media only screen and (max-width: 1200px) {
	.page-1 {
		justify-content: center;
	}
	.scroll {
		display: none;
	}
	.page-2 {
		justify-content: center;
	}
}
@media only screen and (max-width: 768px) {
	.sing-up {
		display: none;
	}
	header nav {
		gap: 20px;
	}
}
@media only screen and (max-width: 600px) {
	header .logo h4 {
		font-size: 15px;
	}
	header nav h4 {
		font-size: 12px;
	}
	.page-1 .right h1 {
		font-size: 50px;
	}
	.page-1 .right h1 span img{
		height: 40px;
		width: 40px;
		border: 2px solid white;
		margin-left: -15px;
	}
	.page-1 .left img{
		height: 250px;
	}
}